<div class="header-panel">
  hi
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="sidenav">
        <a href="#" routerLink="/dashboard">Dashboard</a>
        <a href="#" routerLink="/order">Order</a>
        <a href="#" routerLink="/items">Item</a>
        <a href="#"routerLink="/customers">Customer</a>
      </div>
    </div>
    <div class="col-10">
      <mdb-breadcrumb customClass="primary-color white-text">
        <mdb-breadcrumb-item>Home</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">Library</mdb-breadcrumb-item>
      </mdb-breadcrumb>
    </div>
  </div>
</div>
